@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0,0,0;
  /*--background-start-rgb: 214,219,220;*/
  --background-start-rgb: 158,163,175;
  --background-end-rgb: 255,255,255;
}

body {
  background: linear-gradient(to bottom,transparent,rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  color: #fff;
}

header {
  align-items: center;
  background: #010101 url("/images/bg.jpg") no-repeat 0 -100px;
  color: #fff;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 10px 30px;
  width: 100%;

  & h1 {
    @apply text-lg font-semibold text-white;
  }
}

h2 {
  @apply text-xl font-semibold mb-12;
}

h3 {
  @apply text-lg;
}

main {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 100%;
  min-height: calc(100vh - 80px);
  padding: 0;
  width: 100%;
}

.page {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  padding: 30px;
  width: 100%;
}

.selector {
  display: flex;
  flex-flow: row;
  min-height: 100%;
  width: 100%;
}

.column {
  @apply flex flex-col;
  border-right: 1px solid #fff;
  flex: 1;
  min-height: calc(100vh - 80px);
  text-transform: capitalize;
  width: 100%;
  &:last-of-type {
    border: none;
  }
}

.handle {
  align-items: center;
  border-top: 1px solid #fff;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 100%;
}

.drawer {
  /*background: #010101 url("/images/bg.jpg") no-repeat 0 -100px;*/
  width: 100%;
}

button {
  @apply text-sm transition-all rounded-lg items-center justify-center;
  background: rgba(255, 255, 255, .1);
  padding: 8px 16px;

  &:hover {
    background: rgba(255, 255, 255, .2);
  }

  &.edit {
    opacity: 0;
    margin-left: 16px;
    padding: 4px 16px;
  }

  &.primary {
    @apply bg-yellow-500 text-black;

    &:hover {
      @apply bg-yellow-400;
      cursor: pointer;
    }
  }
}

footer {
  @apply bg-black text-white;
  align-content: flex-end;
  bottom: 0;
  display: flex;
  font-size: 13px;
  height: 50px;
  justify-content: space-between;
  left: 0;
  padding: 0 30px;
  position: fixed;
  width: 100%;
}

.wrapper {
  @apply w-4/6 mx-auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  max-width: 100%;
}

form {
  & label {
    @apply text-sm text-neutral-400;
  }

  & input {
    color: #111;
  }
}

.form-group {

  & input {
    @apply mt-1 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-black focus:outline-none focus:ring-black sm:text-sm;
  }
}
